.starter{
  font-size:30px;
  display:block;
  border:3px solid blue;
}

#output{
  background-color:pink;
}

#output, #input {
	width: 150px;
	height: 100px;
  padding:10px;
  margin:40px;
  text-align: center;
}